* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}


/* LAYOUT RULES */

header {
    width: 100%;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align:center;
}
    
    
}

nav {
    
    
}

body {
    
    
    
}


section {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    
    
    
}


article {
    position: relative;
    
    
}

/* HEADER RULES */

header h1 {
    font-family: "helvetica neue", sans-serif;
    font-size: 50px;
    line-height: 50px;
}

/* NAV RULES */

nav ul {
    list-style-type: none;
    
}

nav li {
    font-family: "helvetice neue", sans-serif;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 36px;
    line-height: 36px;    
    
    
}

nav li a {
    
}

/* SECTION RULES */

#one {
    height: 400px;
    background-image: url(../img/pizzawhatlarge.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;    
    
    
}

#one h1 {
    font-size: 42px;
    line-height: 42px;    

}

#one p {
    font-size: 24px;
    line-height: 24px;
}

#two {
    height: 400px;
    background-color: #FFFFFF;

}

#two h1 {
    font-size: 42px;
    line-height: 42px;    
}

#two p {
    font-size: 24px;
    line-height: 24px;    
}

#three {
    height: 400px;
    background-image: url(../img/whypizzalarge.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#three h1 {
    font-size: 42px;
    line-height: 42px;     
}

#three p {
    font-size: 24px;
    line-height: 24px;    
}



article h1 {
    font-family: "helvetica neue", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: lighter;
    text-align: center;
    margin: 0 200px 0 200px;
    padding-top: 50px;
    
} 

article h2 {
    font-family: "helvetica neue", sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: lighter;
    margin: 0 200px 0 200px;
    
    
}  

article ul {
    list-style-type: none;

    
    
}

article ol {
    
    
}

article li {
    font-family: "minion pro", serif;
    font-size: 16px;
    line-height: 16px;
    padding: 6px 0 6px 0;
    margin: 0 200px 0 200px;
    
    
}


article p {
    font-family: "minion pro", serif;
    font-size: 16px;
    line-height: 18px;
    margin: 0 200px 0 200px;    
    
}


article p a {
    
    
}







